OPENAI_API_KEY="sk-******"
 
LANGFUSE_SECRET_KEY="sk-lf-******"
LANGFUSE_PUBLIC_KEY="pk-lf-******"
LANGFUSE_HOST="https://******"

REMOTE_PYTHON_ENV="source ~/tinyml_autopilot/tinyml-env/bin/activate"
REMOTE_PYTHON_EXECUTABLE="/home/mendel/tinyml_autopilot/tinyml-env/bin/python"
    
OLLAMA_BASE_URL='http://127.0.0.1:11434'
